<div class="home-container">
  <div class="wrapper fadeInDown">
    <div class="row" id="formContent">
      <div class="col col-img">
        <img class="img" src="../../../assets/juegos2.jpg" alt="" />
      </div>
      <div class="col">
        <div class="welcome">
          <h1>BIENVENIDOS</h1>
          <h3>TRABAJO PRÁCTICO N°1 SALA DE JUEGOS</h3>
          <p>T.P. orientado a la experiencia de usuario.</p>
          <button (click)="goToQuienSoy()">SOBRE MI</button>
        </div>
      </div>
    </div>
  </div>
</div>