<section class="vh-100" style="background-color: #a43737;">
  <div class="quien-soy-container">
    <h1 style="font-size: 80px; text-align: center; color: #a43737;">Quién soy?</h1>
    <div class="col col-img">
    </div>
    <br><br>
    <h2 style="font-size: 40px; text-align: center;">Nombre y apellido: Ian Sein</h2>
    <h2 style="font-size: 40px; text-align: center;">División: 4to A</h2>
    <img class="img-perfil" src="{{ perfil.avatar_url }}" alt="" />
    <br><br>
    <h2 style="font-size: 40px; text-align: center;">Juego: Aventura Númerica</h2>
    <h3 style="text-align: start;" class="explicacion-juego">Explicación del juego: Resolver problemas simples como sumas, restas y multiplicaciones. El objetivo es encontrar la respuesta correcta dentro de un límite de tiempo.</h3>
  </div>
</section>
