<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
    </a>
    <button
      class="navbar-toggler navbar-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link active" aria-current="page" routerLink="">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Home&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Home&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link active" aria-current="page" routerLink="/quiensoy">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Quien&nbsp;Soy&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Quien&nbsp;Soy&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/juegos">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Juegos&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Juegos&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/chat">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Chat&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Chat&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/encuesta">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Encuesta&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Encuesta&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/listado-resultados">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Listados&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Listados&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/respuestas-encuesta">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Respuestas&nbsp;encuesta&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Respuestas&nbsp;encuesta&nbsp;</span
              >
            </button>
          </a>
        </li>
      </ul>
      <!-- <span *ngIf="user" class="userInfo">
        <span class="fa-icon" style="margin-right: 10px"
          ><fa-icon [icon]="userIcon"></fa-icon
        ></span>
        <span
          style="color: white;"
          class="navbar-brand"
          href="#"
        >
          {{ user.userName }}
        </span>
      </span> -->

      <button
        class="btn-shine btn-registro btn"
        *ngIf="!isLogged"
        (click)="irARegistro()"
      >
        <span>Registro</span>
      </button>

      <button
        class="btn-shine btn-login btn"
        *ngIf="!isLogged"
        (click)="irALogin()"
      >
        <span>Login</span>
      </button>

      <button
        class="btn-shine btn-logout btn"
        *ngIf="isLogged"
        (click)="logout()"
      >
        <span>Logout</span>
      </button>
    </div>
  </div>
</nav>