.navbar {
  // background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: 2px 2px 4px #444;
  text-align: center;
  z-index: 1000;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.imagenNav {
  width: 40px;
  height: 40px;
  margin-right: 2rem;
}

.userInfo {
  color: white;
  font-size: 1rem;
  padding: 5px;
  margin-right: 10px;
  background: rgba(129, 221, 93, 0.623);
  border-radius: 10px;
  text-shadow: 1px 1px 2px #000;
}

/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.8);
  --animation-color: #37ff8b;
  --fs-size: 0.7em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* From uiverse.io by @mobinkakei */
.btn {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  margin-right: 1rem;
  box-shadow: 2px 2px 4px #444;
}

.btn-registro {
  background-color: #97f57a;
}

.btn-login {
  background-color: #5be1f3;
}

.btn-logout {
  background-color: #fd5f5f;
}

@media screen and (max-width: 450px) {
  .btn-registro,
  .btn-login,
  .btn-logout {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .userInfo {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

.btn-registro span,
.btn-login span,
.btn-logout span {
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.7px;
  text-shadow: 1px 1px 2px #000;
}

.btn-registro:hover,
.btn-login:hover,
.btn-logout:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.btn-registro:hover span,
.btn-login:hover span,
.btn-logout:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #00ff00;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

// responsive design
@media screen and (max-width: 480px) {
  .btn {
    width: 50%;
  }
}